{% extends "base.html" %}
{% block title %}Стихи великих поэтов{% endblock title %}

{% block content %}

<h1 class="text-center mb-5">Стихи великих поэтов</h1>

<div class="container">
  <div class="row">

    {% for poet in poets %}
    <div class="col-6 col-md-3 col-xl-4">
      <div class="card">
        <div class="card-body">
          {% if poet.photo_url %}
            <img src="{{ poet.photo_url }}" alt="{{ poet }}" class="img-fluid rounded-circle"></div>
          {% endif %}
          <h5 class="text-center"><a href="{{ poet.get_absolute_url }}">{{ poet.full_name }}</a></h5>
        </div>
      </div>
    </div>
    {% endfor %}

  </div>
</div>

{% endblock content %}