{% extends "base.html" %}
{% block title %}Стихотворение: {{ poem.title }}{% endblock title %}

{% block content %}
<div class="d-flex">
  <div>
    <a class="btn btn-info-outline btn-sm" href="#" onclick="javascript:window.history.back();">← Назад</a>
  </div>
  <div class="flex-grow-1">
    <h2 class="text-center mb-5">{{ poem.author.full_name }}</h2>
  </div>
</div>

<div class="container">
  <div class="row">

    <div class="col-12 col-md-10 col-lg-8 mx-auto">
      <div class="card">
        <div class="card-body">
          {% if user.is_authenticated %}
            <p class="small text-right m-0">
              <a href="{% url 'update_poem' poem.pk %}">Редактировать</a>
              <a href="{% url 'delete_poem' poem.pk %}" class="text-muted">Удалить</a>
            </p>
          {% endif %}
          <h1 class="text-center mb-5">{{ poem.title }}</h1>
          <div class="poem-text text-center">
            {{ poem.text|linebreaksbr }}
          </div>
          <p class="mt-3 poem-year text-right">{{ poem.year }}</p>
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock content %}
