{% extends "base.html" %}
{% block title %}Удалить стихотворение{% endblock title %}

{% block content %}
<div class="d-flex">
  <div>
    <a class="btn btn-info-outline btn-sm" href="{% url 'poem' poem.pk %}">← Назад</a>
  </div>
  <div class="flex-grow-1">
  </div>
</div>

<div class="container">
  <div class="row">

    <div class="col-12 col-md-10 col-lg-8 mx-auto">
      <div class="card">
        <div class="card-body">
          <h1 class="text-center">Удалить стихотворение</h1>
          <p class="lead">Вы точно хотите удалить стихотворение «<strong>{{ poem.title }}</strong>»?</p>
          <form action="" method="POST" class="float-right">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">
                Да
            </button>
            <a href="#" class="btn btn-success" onclick="javascript:window.history.back();">
                Нет
            </a>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock content %}
