{% extends "base.html" %}
{% block title %}Стихи поэт(эссы) {{ poet.full_name }}{% endblock title %}

{% block content %}
<div class="d-flex">
  <div>
    <a class="btn btn-info-outline btn-sm" href="{% url 'index' %}">← Назад</a>
  </div>
  <div class="flex-grow-1">
    <h1 class="text-center mb-5">Стихи {{ poet.full_name }}</h1>
  </div>
</div>

<div class="container">
  <div class="row">

    <div class="col-12 col-md-6">
      {% for poem in poems %}
        <div class="card">
          <div class="card-body">
            <p><a href="{{ poem.get_absolute_url }}">{{ poem.title }}</a></p>
          </div>
        </div>
        {% if forloop.counter == divide_at %}
          </div>
          <div class="col-12 col-md-6">
        {% endif %}
      {% endfor %}
    </div>

  </div>
</div>
{% endblock content %}
