{% extends "base.html" %}
{% block title %}{% if poet %}Редактировать {% else %}Добавить {% endif %}поэта{% endblock title %}

{% block content %}
<div class="d-flex">
  <div>
    <a class="btn btn-info-outline btn-sm" href="{% url 'index' %}">← Назад</a>
  </div>
  <div class="flex-grow-1">
  </div>
</div>

<div class="container">
  <div class="row">

    <div class="col-12 col-md-10 col-lg-8 mx-auto">
      <div class="card">
        <div class="card-body">
          <h1 class="text-center mb-5">{% if poet %}Редактировать {% else %}Добавить {% endif %}поэта</h1>
          {% include "partials/form_errors.html" %}
          <form action="" method="POST">
            {% csrf_token %}
            {% include "partials/form_fields.html" with form=form %}
            
            <div class="form-group row">
              <div class="col-md-6 offset-md-4">
                <button type="submit" class="btn btn-primary float-right">
                    {% if poet %}Редактировать{% else %}Добавить{% endif %}
                </button>
                <a href="#" class="btn btn-secondary float-right mr-1" onclick="javascript:window.history.back();">Отмена</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock content %}
