{% extends "base.html" %}
{% block title %}Стихи великих поэтов{% endblock title %}

{% block content %}

<h1 class="text-center mb-5">Стихи великих поэтов</h1>

<div class="container">
  <div class="row">

    {% for poet in poets %}
    <div class="col-6 col-md-4 col-xl-3">

      <div class="card mb-3">
        {% if poet.photo_url %}
          <img src="{{ poet.photo_url }}" class="card-img-top poet-card-img" alt="{{ poet }}">
        {% endif %}
        <div class="card-body">
          <p class="card-text">
            <a href="{{ poet.get_absolute_url }}">{{ poet.full_name }}</a>
          </p>
        </div>
      </div>

    </div>
    {% endfor %}

  </div>
</div>

{% endblock content %}